$white: #ffffff;
$app-line-opacity: .1;

.app{
	--white: #{$white};
	--action-size: 18px;
	background: #5236b7 url("../images/bg-app.jpg") no-repeat 0 0 / cover;
	min-height: 100vh;
	color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
	&-row{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		overflow: hidden;
		& > div{
			margin-bottom: -1px;
		}
	}
	&-row{
		display: flex;
		flex-wrap: wrap;
		--app-width: calc(100% / 2);
		.app-col:nth-child(2n){
			.app_item{--line-opacity-y: 0;}
		}
	}
	&-col{
		width: var(--app-width);
	}
}
.app_item{
	--line-opacity-y: #{$app-line-opacity};
	--line-opacity-x: #{$app-line-opacity};
	aspect-ratio: 10/8;
	text-decoration: none;
	color: var(--white);
	transition: all .2s;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 100%;
	&:before,&:after{
		content: '';
		display: block;
		position: absolute;
		background: var(--white);
	}
	&:before{
		width: 1px;
		height: 100%;
		top: 0;
		right: 0;
		opacity: var(--line-opacity-y);
	}
	&:after{
		height: 1px;
		width: 100%;
		bottom: 0;
		left: 0;
		opacity: var(--line-opacity-x);
	}
	&-icon{
		fill: var(--white);
		transition: all .2s;
		height: auto;
		width: 42%;
	}
	&-title{
		font-size: 18px;
		margin-top: .9em;
		margin-bottom: 0;
	}
	&-actions{
		display: none;
		transition: all .2s;
		overflow: hidden;
		margin-top: 0;
		padding-top: 0;
		opacity: 0;
		height: 0;
		position: relative;
		min-width: 30%;
		text-align: center;
		&:after{
			content: '';
			display: block;
			width: 100%;
			height: 1px;
			position: absolute;
			top: 0;
			left: 0;
			background: var(--white);
			opacity: $app-line-opacity;
		}
		.action{
			padding: calc(var(--action-size) / 4);
			&-icon{
				fill: var(--white);
				width: var(--action-size);
				transition: all .2s;
				transition-delay: .1s;
				transform: scale(.2);
				opacity: 0;
			}
		}
	}
}


/* копьютеры с мышкой */
@media (hover: hover) {
	.app_item{
		&:hover{
			text-decoration: none;
			.app_item-icon{
				width: 20%;
				opacity: .2;
			}
			.app_item-title{
				opacity: .2;
			}
			.app_item-actions{
				opacity: 1;
				height: calc(var(--action-size) * 2);
				margin-top: calc(var(--action-size));
				padding-top: calc(var(--action-size));
			}
			.action-icon{
				transform: scale(1);
				opacity: 1;
			}
		}
		&-actions{
			display: block;
		}
	}
}


/* SS -------------------- */
@media (min-width: 425px){}
	

/* SM -------------------- */
@media (min-width: 576px){
	.app{
		&-row{
			.app-col:nth-child(1n){
				.app_item{--line-opacity-y: #{$app-line-opacity};}
			}
			--app-width: calc(100% / 3);
			.app-col:nth-child(3n){
				.app_item{--line-opacity-y: 0;}
			}
		}
	}
}
	
	
/* MD -------------------- */
@media (min-width: 768px){
	.app{
		&-row{
			.app-col:nth-child(1n){
				.app_item{--line-opacity-y: #{$app-line-opacity};}
			}
			--app-width: calc(100% / 4);
			.app-col:nth-child(4n){
				.app_item{--line-opacity-y: 0;}
			}
		}
	}
}
	
	
/* LG -------------------- */
@media (min-width: 992px){
	
	.app{
		&-row{
			.app-col:nth-child(1n){
				.app_item{--line-opacity-y: #{$app-line-opacity};}
			}
		}
		@for $i from 4 through 8 {
			.size-#{$i}{
				--app-width: calc(100% / #{$i});
				.app-col:nth-child(#{$i}n){
				.app_item{--line-opacity-y: 0;}
				}
			}
		}
	}
}
	
	
/* XL -------------------- */
@media (min-width: 1200px){}
	
	
/* XXL ------------------- */
@media (min-width: 1400px){}
	