$white: #fff;
$app-line-opacity: .1;

.app-wrap{
	--white: #{$white};
	background: #5236b7 url("../images/bg-app.jpg") no-repeat 0 0 / cover;
	height: 100vh;
	color: var(--white);
	.row{
		overflow: hidden;
		& > div{
			margin-bottom: -1px;
		}
	}
	.col-6:nth-child(2n){
		.app_item{--line-opacity-y: 0;}
	}
}
.app_item{
	--line-opacity-y: #{$app-line-opacity};
	--line-opacity-x: #{$app-line-opacity};
	aspect-ratio: 10/8;
	text-decoration: none;
	color: var(--white);
	transition: all .2s;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	&:before,&:after{
		content: '';
		display: block;
		position: absolute;
		background: var(--white);
	}
	&:before{
		width: 1px;
		height: 100%;
		top: 0;
		right: 0;
		opacity: var(--line-opacity-y);
	}
	&:after{
		height: 1px;
		width: 100%;
		bottom: 0;
		left: 0;
		opacity: var(--line-opacity-x);
	}
	&:hover{
		text-decoration: none;
		.app_item-icon{
			width: 80px;
			opacity: .2;
		}
		.app_item-actions{
			height: 50px;
			opacity: 1;
		}
		.action-icon{
			transform: scale(1);
			opacity: 1;
		}
	}
	&-icon{
		fill: var(--white);
		transition: all .2s;
		height: auto;
		width: 60px;
	}
	&-title{
		font-size: 18px;
		margin-top: .9em;
		margin-bottom: 0;
	}
	&-actions{
		transition: all .2s;
		overflow: hidden;
		padding-top: 10px;
		height: 50px;
		opacity: 1;
		.action{
			padding: 5px;
			&-icon{
				fill: var(--white);
				width: 22px;
				transition: all .2s;
				transition-delay: .1s;
				transform: scale(1);
				opacity: 1;
			}
		}
	}
}


/* копьютеры с мышкой */
@media (hover: hover) {
	.app_item{
		&:hover{
			text-decoration: none;
			.app_item-icon{
				width: 80px;
				opacity: .2;
			}
			.app_item-actions{
				height: 50px;
				opacity: 1;
			}
			.action-icon{
				transform: scale(1);
				opacity: 1;
			}
		}
		&-icon{
			width: 120px;
		}
		&-actions{
			height: 0;
			opacity: 0;
			height: 0;
			.action{
				&-icon{
					transform: scale(.2);
					opacity: 0;
				}
			}
		}
	}
}


/* SS -------------------- */
@media (min-width: 425px){}
	

/* SM -------------------- */
@media (min-width: 576px){}
	
	
/* MD -------------------- */
@media (min-width: 768px){}
	
	
/* LG -------------------- */
@media (min-width: 992px){
	
	.app-wrap{
		.col-6:nth-child(1n){
			.app_item{--line-opacity-y: #{$app-line-opacity};}
		}
		.col-lg-3:nth-child(4n){
			.app_item{--line-opacity-y: 0;}
		}
	}
	.app_item{
		&-icon{
			width: 80px;
		}
	}
}
	
	
/* XL -------------------- */
@media (min-width: 1200px){}
	
	
/* XXL ------------------- */
@media (min-width: 1400px){}
	