$black: #181818;
$primary: #008ecc;
$secondary: #f7daf8;

$b: var(--black);
$p: var(--primary);
$s: var(--secondary);

:root{
	--index: calc(1vw + 1vh);
	--black: #{$black};
	--primary: #{$primary};
	--secondary: #{$secondary};
}

html{
	scroll-behavior: smooth;
}
body {
    margin: 0;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
	font-family: 'Mulish', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.container{
	width: 100%;
	max-width: 1200px;
	padding: 0 16px;
}
.svg-sprite{
	width: 0;
	height: 0;
	position: absolute;
	top: -200%;
}



	

@import '_app_screen';



@function to-rgb($color){
	@return red($color), green($color), blue($color);
}



/* SS -------------------- */
@media (min-width: 425px){}
	

/* SM -------------------- */
@media (min-width: 576px){}
	
	
/* MD -------------------- */
@media (min-width: 768px){}
	
	
/* LG -------------------- */
@media (min-width: 992px){}
	
	
/* XL -------------------- */
@media (min-width: 1200px){}
	
	
/* XXL ------------------- */
@media (min-width: 1400px){}
	